aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
intltool-*
libtool
ltmain.sh
Makefile
Makefile.in
Makefile.in.in
missing
mkinstalldirs
*.o
*.lo
*.a
*.la
*.gmo
*~
man/gnome-settings-daemon.1
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
stamp-h1
.deps
.libs
gnome-settings-daemon/gnome-settings-client.h
gnome-settings-daemon/gnome-settings-daemon
gnome-settings-daemon/gnome-settings-manager-glue.h
gnome-settings-daemon/gnome-settings-daemon-localeexec
gnome-settings-daemon/gsd-screen-saver-glue.c
gnome-settings-daemon/gsd-screen-saver-glue.h
gnome-settings-daemon/gsd-session-manager-glue.c
gnome-settings-daemon/gsd-session-manager-glue.h
gnome-settings-daemon/gsd-shell-glue.c
gnome-settings-daemon/gsd-shell-glue.h
data/*.pc
data/*.xml
data/*.xml.in
data/*.valid
data/gnome-settings-daemon.desktop
data/gnome-settings-daemon.desktop.in
data/50-accessibility.xml
data/org.gnome.SettingsDaemon.service
*.gnome-settings-plugin
plugins/a11y-keyboard/test-a11y-preferences-dialog
plugins/a11y-keyboard/gsd-test-a11y-keyboard
plugins/a11y-settings/gsd-test-a11y-settings
plugins/background/test-background
plugins/common/gsd-common-enums.c
plugins/common/gsd-common-enums.h
plugins/common/gsd-test-input-helper
plugins/common/test-egg-key-parsing
plugins/datetime/gsd-test-datetime
plugins/datetime/geoclue.c
plugins/datetime/geoclue.h
plugins/datetime/timedated.c
plugins/datetime/timedated.h
plugins/housekeeping/gsd-disk-space-test
plugins/housekeeping/gsd-empty-trash-test
plugins/housekeeping/gsd-purge-temp-test
plugins/housekeeping/gsd-test-housekeeping
plugins/keyboard/gsd-input-sources-switcher
plugins/keyboard/gsd-test-keyboard
plugins/media-keys/gsd-marshal.c
plugins/media-keys/gsd-marshal.h
plugins/media-keys/gsd-media-keys-manager-glue.h
plugins/media-keys/gsd-test-media-keys
plugins/media-keys/shell-key-grabber.c
plugins/media-keys/shell-key-grabber.h
plugins/media-keys/test-media-keys
plugins/media-keys/test-media-window
plugins/smartcard/gsd-smartcard-enum-types.c
plugins/smartcard/gsd-smartcard-enum-types.h
plugins/smartcard/gsd-smartcard.h
plugins/smartcard/gsd-test-smartcard
plugins/smartcard/org.gnome.Smartcard.c
plugins/smartcard/org.gnome.Smartcard.h
plugins/smartcard/org.gnome.ScreenSaver.c
plugins/smartcard/org.gnome.ScreenSaver.h
plugins/smartcard/org.gnome.SessionManager.c
plugins/smartcard/org.gnome.SessionManager.h
plugins/mouse/gsd-test-mouse
plugins/power/gsd-backlight-helper
plugins/power/gsd-power-enums-update
plugins/power/gsd-power-enums.c
plugins/power/gsd-power-enums.h
plugins/power/gsd-test-power
plugins/power/org.gnome.settings-daemon.plugins.power.policy
plugins/power/org.gnome.settings-daemon.plugins.power.policy.in
plugins/print-notifications/gsd-printer
plugins/print-notifications/gsd-test-print-notifications
plugins/remote-display/gsd-test-remote-display
plugins/rfkill/gsd-test-rfkill
plugins/screensaver-proxy/gsd-test-screensaver-proxy
plugins/sharing/gsd-test-sharing
plugins/smartcard/org.gnome.SettingsDaemon.Smartcard.c
plugins/smartcard/org.gnome.SettingsDaemon.Smartcard.h
plugins/sound/gsd-test-sound
plugins/updates/gsd-test-updates
plugins/wacom/gsd-list-wacom
plugins/wacom/gsd-test-wacom
plugins/wacom/gsd-test-wacom-osd
plugins/wacom/gsd-wacom-led-helper
plugins/wacom/gsd-wacom-oled-helper
plugins/wacom/gsd-wacom-resources.c
plugins/wacom/org.gnome.settings-daemon.plugins.wacom.policy
plugins/wacom/org.gnome.settings-daemon.plugins.wacom.policy.in
plugins/xsettings/gsd-test-xsettings
plugins/xsettings/test-gtk-modules
plugins/xsettings/test-wm-button-layout-translations
tests/shiftkey
test-driver
