aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.status
config.sub
configure
INSTALL
Makefile
Makefile.in
Makefile.in.in
*.o
*.lo
*.a
*.la
*.gmo
po/POTFILES
po/stamp-it
stamp-h1
.deps
.libs
