[submodule "subprojects/gvc"]
	path = subprojects/gvc
	url = https://gitlab.gnome.org/GNOME/libgnome-volume-control.git

[submodule "subprojects/brltty"]
	path = subprojects/brltty
	url = https://github.com/brltty/brltty.git
