[Unit]
Description=GNOME Settings daemon (wayland)
StopWhenUnneeded=yes
Before=gnome-settings-daemon.target
Requires=gnome-settings-daemon.target
Conflicts=gnome-settings-daemon-x11.target gnome-settings-daemon-gdm.target
RefuseManualStart=yes
